/*
 * Overall blog container
 */
.blog-container {
  padding-top: 25px;
}

/*
 * Individual blog item
 */
.blog-item {
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 25px;
  background-color: var(--bg2-color);
  border: 2px solid var(--border-color);
}

.blog-item-subsection {
  padding-top: 15px;
}


/*
 * Title with heading & color square
 */
.blog-title-container {
  display: flex;
  align-items: center;
}

.blog-title {
  display: inline-block;
  font-size: 20px;
}

.blog-subheading {
  font-size: 16px;
}

/*
 * Image
 */

.blog-image-container {
  padding-top: 15px;
}

.blog-image {
  border: 2px solid #9ca3af;
  object-fit: scale-down;
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}
