/*
 * Dynamic & Responsive Resizing + Main Containers
 */

 body {
   background-color: #121212; /* Standard dark mode bg 121212 */
   text-align: center;
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   margin: 0;
   padding: 0;
 }

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* The main container for the body content in a given page */
.container {
  z-index: 1;
  position: relative;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(0, 140, 186, 0.25); /* 33, 33, 33, 0.5 */
  padding: 75px;
  width: 60%;
}

/* Align a div into the center of the main container, fixed width - useful for left aligned text */
.middle-container-fixed {
  z-index: 2;
  position: relative;
  margin: auto;
  width: 425px;
  /*background-color: rgba(0, 140, 186, 0.25);*/
}

/* The width is 80%, when the viewport is between 1000px & 800px */
@media screen and (min-width:800px) and (max-width:1000px) {
  .container {
    width: 80%;
  }
}

/* The width is 100%, when the viewport is 800px or smaller */
@media screen and (max-width:800px) {
  .container {
    width: 100%;
    margin-top: 0px;
  }
}

/*
 * Typographical Elements
 */

h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  opacity: 0.87;
}

h2 {
  font-size: 28px;
  font-weight: 550;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  opacity: 0.87;
}

.p-main {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  opacity: 0.87;
}

.left-leading {
  text-align: left;
}

/*
 * Buttons
 */

/* Animated Arrow Button */
.button-arrow {
  border-radius: 12px;
  background-color: rgba(0, 140, 186, 0.62);
  border: none;
  padding: 14px 24px;
  width: 260px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  font-size: 22px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  border: 2px solid #008CBA;
}

.button-arrow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button-arrow span:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.button-arrow:hover {
  background-color: rgba(76, 175, 80, 0.75);
  border: 2px solid #FFFFFF;
}

.button-arrow:hover span {
  padding-right: 35px;
}

.button-arrow:hover span:after {
  opacity: 1;
  right: 0;
}

/* Animated Glowing Button */
.button-glow {
  border-radius: 12px;
  background-color: rgba(0, 140, 186, 0.62);
  border: none;
  padding: 14px 24px;
  width: 260px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  font-size: 22px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  border: 2px solid #008CBA;
}

.button-glow:hover {
  background-color: rgba(76, 175, 80, 0.75);
  border: 2px solid #FFFFFF;
}

/*
 * Starfield
 */

canvas {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
  background: #000;
}
