/*
 * Theme Controller Main Containers
 */
.theme-controller-background {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: black;

  opacity: 0.75;
}

.theme-controller-hidden {
  display: none;
}

.theme-controller-shown {
  display: block;
}

.theme-controller-container {
  z-index: 200;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: transparent;

  opacity: 1;
  pointer-events: none;

  display: block;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*
 * Toggle Button
 */
.toggle-button {
  background-color: #1d4ed8;
  border: none;

  width: 40px;
  height: 40px;
  border-radius: 20px;

  position: fixed;
  bottom: 20px;
  left: 20px;

  pointer-events: auto;
}

.toggle-button-hidden {
  display: none;
}

.toggle-button-shown {
  display: block;
}

.toggle-button:hover {
  border: 2px solid white;
  background-color: #1d4ed8;
}

.theme-controller-container i {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  font-size: 1.5em;
}

/*
 * Selector Panel Box
 */
.selector-panel {
  background-color: #111827;
  border: 2px solid #374151;
  width: 450px;
  height: 600px;
  align-items: center;

  pointer-events: auto;

  position: relative;
  margin: auto;
  text-align: center;
  color: #fff;
  transition: 500ms ease;
}

.selector-panel-hidden {
  display: none;
}

.selector-panel-shown {
  display: block;
}

/* Main Inner Container */
.selector-panel-inner {
  padding: 20px;
}

.selector-panel-inner i {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
}

.selector-panel-inner h1 {
  display: inline-block;
}

.selector-panel-title-group {
  position: relative;
}

.selector-panel-title-group:after {
  transform: scaleX(0);
  opacity: 0;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  transition: 500ms ease;
  background-color: white;
  content: "";
}

.selector-panel:hover .selector-panel-title-group:after {
    transform: scaleX(1);
    opacity: 1;
}


/* Hover border animation source: https://codepen.io/mmoonn/pen/PwvraE?editors=0100 */
.selector-panel:before {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background: white;
  top: -2px;
  left: -2px;
  transition: 100ms width ease 300ms;
  -web-kit-transition: 100ms width ease 300ms;
}

.selector-panel:after {
  position: absolute;
  width: 2px;
  height: 0;
  content: "";
  background: white;
  top: -2px;
  right: -2px;
  transition: 100ms height ease 200ms;
  -web-kit-transition: 100ms height ease 200ms;
}

.selector-panel-inner:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background: white;
  bottom: -2px;
  right: -2px;
  transition: 100ms width ease 100ms;
  -web-kit-transition: 100ms width ease 100ms;
}

.selector-panel-inner:before {
  position: absolute;
  width: 2px;
  height: 0;
  content: "";
  background: white;
  bottom: -2px;
  left: -2px;
  transition: 100ms height ease 0ms;
  -web-kit-transition: 100ms height ease 0ms;
}

.selector-panel:hover:before {
  width: 450px;
  transition: 100ms width ease 0ms;
  -web-kit-transition: 100ms width ease 0ms;
}

.selector-panel:hover:after {
  height: 600px;
  transition: 100ms height ease 100ms;
  -web-kit-transition: 100ms height ease 100ms;
}

.selector-panel:hover .selector-panel-inner:after {
  width: 450px;
  transition: 100ms width ease 200ms;
  -web-kit-transition: 100ms width ease 200ms;
}

.selector-panel:hover .selector-panel-inner:before {
  height: 600px;
  transition: 100ms height ease 300ms;
  -web-kit-transition: 100ms height ease 300ms;
}

/*
 * Media Queries
 */

/* Handle anything over small screen sizes */
@media screen and (min-width: 450px) {
  /* Toggle Button */
  .toggle-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .theme-controller-container i {
    font-size: 2em;
  }

  .toggle-button {
    transition: all .2s ease-in-out;
  }

  .toggle-button:hover {
    border: 2px solid white;
    background-color: #1d4ed8;

    transform: scale(1.1);
  }

  /* Selector Panel
  .selector-panel {
    width: 80%;
    height: 80%;
  }

  .selector-panel:hover:before {
    width: 80%;
  }

  .selector-panel:hover:after {
    height: 80%;
  }

  .selector-panel:hover .selector-panel-inner:after {
    width: 80%;
  }

  .selector-panel:hover .selector-panel-inner:before {
    height: 80%;
  }
  */
}
