/*
 * Theme Controller Main Containers
 */
.theme-controller-background {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: black;

  opacity: 0.5;
}

.theme-controller-hidden {
  display: none;
}

.theme-controller-shown {
  display: block;
}

.theme-controller-container {
  z-index: 200;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: transparent;

  opacity: 1;
  pointer-events: none;

  display: block;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*
 * Toggle Button
 */
.toggle-button {
  background-color: #1d4ed8;
  border: none;
  color: white;

  width: 40px;
  height: 40px;
  border-radius: 20px;

  position: fixed;
  bottom: 20px;
  left: 20px;

  pointer-events: auto;
}

.toggle-button-hidden {
  display: none;
}

.toggle-button-shown {
  display: block;
}

.toggle-button:hover {
  border: 2px solid white;
  background-color: #1d4ed8;
}

.theme-controller-container i {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  font-size: 1.5em;
}

/*
 * Selector Panel Box
 */
.selector-panel {
  background-color: #111827;
  border: 2px solid #374151;

  width: 250px;
  height: 450px;

  align-items: center;

  pointer-events: auto;

  position: relative;
  margin: auto;
  text-align: center;
  color: #fff;
  transition: 500ms ease;
}

.selector-panel:hover {
  border: 2px solid white;
}

.selector-panel-hidden {
  display: none;
}

.selector-panel-shown {
  display: block;
}

/* Main Inner Container */
.selector-panel-inner {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Inner Container Icon */
.selector-panel-inner i {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
}

/* Main Inner Container Title Group */
.selector-panel-inner h1 {
  display: inline-block;
}

.selector-panel-title-group {
  position: relative;
}

.selector-panel-title-group-center {
  display: flex;
  align-items: center;
}

.selector-panel-title-group:after {
  transform: scaleX(0);
  opacity: 0;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  transition: 500ms ease;
  background-color: white;
  content: "";
}

.selector-panel:hover .selector-panel-title-group:after {
    transform: scaleX(1);
    opacity: 1;
}

/* Main Inner Container Exit Button */
.exit-button {
  position: absolute;
  bottom: 20px;

  color: white;
  background: #1d4ed8;
  border: 2px solid #1d4ed8;
  cursor: pointer;
  height: 30px;
  width: 90px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.exit-button:hover {
  border: 2px solid white;
}

/* Settings Toggle Button */
.settings-button {
  color: white;
  background: #1d4ed8;
  border: 2px solid #1d4ed8;
  cursor: pointer;
  height: 30px;
  width: 140px;
  margin: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 14px;
}

.settings-button:hover {
  border: 2px solid white;
}

/* Main Inner Container Center Content */
.settings-main-content {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 55px;

  /*
  overflow-x: hidden;
  overflow-y: scroll;
  */
}

/* Hover border animation source: https://codepen.io/mmoonn/pen/PwvraE?editors=0100 */
.selector-panel:before {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background: white;
  top: -2px;
  left: -2px;
  transition: 100ms width ease 300ms;
  -web-kit-transition: 100ms width ease 300ms;
}

.selector-panel:after {
  position: absolute;
  width: 2px;
  height: 0;
  content: "";
  background: white;
  top: -2px;
  right: -2px;
  transition: 100ms height ease 200ms;
  -web-kit-transition: 100ms height ease 200ms;
}

.selector-panel-inner:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: "";
  background: white;
  bottom: -2px;
  right: -2px;
  transition: 100ms width ease 100ms;
  -web-kit-transition: 100ms width ease 100ms;
}

.selector-panel-inner:before {
  position: absolute;
  width: 2px;
  height: 0;
  content: "";
  background: white;
  bottom: -2px;
  left: -2px;
  transition: 100ms height ease 0ms;
  -web-kit-transition: 100ms height ease 0ms;
}

.selector-panel:hover:before {
  width: 250px;
  transition: 100ms width ease 0ms;
  -web-kit-transition: 100ms width ease 0ms;
}

.selector-panel:hover:after {
  height: 450px;
  transition: 100ms height ease 100ms;
  -web-kit-transition: 100ms height ease 100ms;
}

.selector-panel:hover .selector-panel-inner:after {
  width: 250px;
  transition: 100ms width ease 200ms;
  -web-kit-transition: 100ms width ease 200ms;
}

.selector-panel:hover .selector-panel-inner:before {
  height: 450px;
  transition: 100ms height ease 300ms;
  -web-kit-transition: 100ms height ease 300ms;
}

/*
 * Media Queries
 */

/* Handle > default between 320px (iPhone 5) */
@media screen and (min-width: 320px) {
  .selector-panel {
    width: 280px;
    height: 450px;
  }

  .selector-panel:hover:before {
    width: 300px;
  }

  .selector-panel:hover:after {
    height: 450px;
  }

  .selector-panel:hover .selector-panel-inner:after {
    width: 280px;
  }

  .selector-panel:hover .selector-panel-inner:before {
    height: 450px;
  }
}

/* Handle > 320px between 375px (iPhone X) */
@media screen and (min-width: 375px) {
  .selector-panel {
    width: 335px;
    height: 500px;
  }

  .selector-panel:hover:before {
    width: 335px;
  }

  .selector-panel:hover:after {
    height: 500px;
  }

  .selector-panel:hover .selector-panel-inner:after {
    width: 335px;
  }

  .selector-panel:hover .selector-panel-inner:before {
    height: 500px;
  }
}

/* Handle anything over small screen sizes */
@media screen and (min-width: 450px) {
  /* Toggle Button */
  .toggle-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .theme-controller-container i {
    font-size: 2em;
  }

  /* Selector Panel */
  .selector-panel {
    width: 450px;
    height: 600px;
  }
}
