/*
 * Overall skills container
 */
.skills-container {
  padding-top: 25px;
}

/*
 * Individual skills item
 */
.skills-item {
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 25px;
  max-width: 1000px;
  background-color: var(--bg2-color);
  border: 2px solid var(--border-color);
}

.skills-item-subsection {
  padding-top: 5px;
}


/*
 * Title with heading & color square
 */
.skills-title-container {
  display: flex;
  align-items: center;
}

.skills-color {
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  background-color: white;
}

.skills-title {
  display: inline-block;
  font-size: 20px;
}

.skills-subheading {
  font-size: 16px;
}
