@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

@media (min-width:768px) {
  section:target{
    padding-top:70px; /* = to height of navbar */
    margin-top:-70px;
  }
}

.starfield {
  background-color: #FFF;
  width: 500px;
  height: 500px;
}
