@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

@media (min-width:768px) {
  section:target{
    padding-top:70px; /* = to height of navbar */
    margin-top:-70px;
  }
}

.starfield {
  position: fixed;
  background-color: #111827;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.alphaDimmer {
  position: fixed;
  background-color: #111827;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: -1;
}
